@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
 padding: 0;
 margin: 0;
 font-family: 'Outfit', sans-serif;
}
.container{
    width: 20%;
    min-height: fit-content;
    height: 60vh;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;
}

.container img{
 width: 90%;
 margin-top: 20px;
 border-radius: 20px;
 margin-bottom: 1rem;
 min-height: 0;
}

.container h1{
 text-align: center;
 color: hsl(218, 44%, 22%);
 font-size: 30px;
 padding-bottom: 1rem;
 min-height: 0;
 line-height: 3.3vh;
}

.container p{
 text-align: center;
 color :hsl(220, 15%, 55%);
 font-size: 15px;
 font-weight: 400;
 
}

@media (max-device-width: 375px) {
 *{
 padding: 0;
 margin: 0;
 font-family: 'Outfit', sans-serif;
}
.container{
    width: 85%;
    height: 67vh;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.container img{
 width: 90%;
 margin-top: 20px;
 border-radius: 20px;
 margin-bottom: 1rem;
}

.container h1{
 text-align: center;
 color: hsl(218, 44%, 22%);
 font-size: 25px;
 font-weight: 700;
 padding-bottom: 1rem;
}

.container p{
 text-align: center;
 color :hsl(220, 15%, 55%);
 font-size: 15px;
 font-weight: 400;
}
}



